<script type="text/html" id="banner-code">
		<div id="wrapperWithoutFooter">
			<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
				<div class="container-fluid"></div>
			</div><!-- Center Section w/ search bar

 <!- - Jumbotron - -> <div class="jumbotron"> <!- - <div class="container"> -->
			<div class="container" align="center">
				<div class="jumbotron" align="center">
					<div class="row dropdownOption" align="center">
						<select id='firstDropdown' name='firstDropdown' class="col-lg-offset-3 col-lg-6 col-xs-3 col-xs-offset-3 col-md-offset-0 col-md-1 btn btn-default">
							<option value='iAmA' selected='selected'>
								I am a...
							</option>
							<option value='homeowner'>
								Homeowner
							</option>
							<option value='realtor'>
								Realtor
							</option>
							<option value='contractor'>
								Contractor
							</option>
							<option value='consultant'>
								Consultant
							</option>
							<option value='businessOwner'>
								Business Owner
							</option>
							<option value='citizen'>
								Citizen
							</option>
						</select>
					</div>
					<div class="row dropdownOption">
						<select id='secondDropdown' name='secondDropdown' class=" col-lg-6 col-lg-offset-3 col-xs-3 col-md-1 btn btn-default">
							<option value='iWantTo' selected='selected'>
								I want to...
							</option>
							<option value='checkMyPermitStatus'>
								check my permit status
							</option>
							<option value='removeATree'>
								remove a tree from my property
							</option>
							<option value='somethingElse'>
								something else?
							</option>
						</select>
					</div>
					<div class="row dropdownOption col-lg-offset-1 col-lg-10 col-xs-3 col-xs-offset-3 col-md-offset-0 col-md-1" id="searchBarID">
						<div class="input-group">
							<div class="input-group-btn search-panel"></div><input type="hidden" name="search_param" value="all" id="search_param"> <input id="searchBarTextInput" type="text" class=" form-control" name="x" placeholder="Search for something else"> <span class="input-group-btn"><button id="searchBarButton" class="btn btn-default" type="button"></button></span>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-success col-lg-2 col-lg-offset-5 col-xs-6 col-xs-offset-3 col-md-offset-2 col-md-6">Go!</button>
					</div>
				</div>
			</div>
		</div>
</script>


<script type="text/javascript">


// <!-- search bar-
//  ================================================== -->

  $(document).ready(function(e){

      $('.search-panel .dropdown-menu').find('a').click(function(e) {
      e.preventDefault();
      var param = $(this).attr("href").replace("#","");
      var concept = $(this).text();
      $('.search-panel span#search_concept').text(concept);
      $('.input-group #search_param').val(param);
    });
  });


 //    <!-- secondaryDropdown/firstDropdown dropdowns-
 // ================================================== -->

(function(){

    var firstDropdownOptions = {
      'homeowner':['I want to...', 'check my permit status', 'remove a tree', 'something else?'],
      'realtor':['I want to...', 'search property info', 'submit BMP Disclosure Form','find IPES score','something else?'],
      'contractor':['I want to...', 'file a permit', 'check my permit status', 'schedule an inspection','something else?'],
      'consultant':['I want to...', 'file a permit', 'check my permit status', 'schedule an inspection','something else?'],
      'businessOwner':['I want to...', 'file a business permit','submit a permit to update my sign','something else?'],
      'citizen':['I want to...', 'learn more about Tahoe', 'file a complaint', 'report trash', 'something else?']};

    var firstDropdown = document.getElementById('firstDropdown');
    var secondaryDropdown = document.getElementById('secondDropdown');

    //on change is a good event for this because we are guarenteed the value is different
    firstDropdown.onchange = function(){
        //clear out secondaryDropdown
        secondaryDropdown.length = 0;
        //get the selected value from firstDropdown
        var _val = this.options[this.selectedIndex].value;
        //loop through index at the selected firstDropdown value
        for ( var i in firstDropdownOptions[_val]){
            //create option tag
            var op = document.createElement('option');
            //set its value
            op.value = firstDropdownOptions[_val][i];
            //set the display label
            op.text = firstDropdownOptions[_val][i];
            //append it to secondaryDropdown
            secondaryDropdown.appendChild(op);
        }
    };


    secondaryDropdown.onchange = function() {
         var _val = this.options[this.selectedIndex].value;

         if (_val == "something else?")

           $('searchBarID').show();

         else
             $('searchBarID').hide();
    };
    //fire this to update secondaryDropdown on load
   // firstDropdown.onchange();

})();



  searchBarUsed : function(){

    $('.content').hide();

    $('.newContent').show();

    newContent = "<div class=\"sideMenu col-xs-3 col-md-2\"><div class=\"menu\"><h5 onclick=\"navigation.menuSelection(jobs)\" class=\"sideMenuLinks h5\">Jobs</h5><h5 onclick=\"navigation.menuSelection(housing)\" class=\"sideMenuLinks h5\">Housing<h5><h5 onclick=\"navigation.menuSelection(forSale)\" class=\"sideMenuLinks h5\">For sale<h5><h5 onclick=\"navigation.menuSelection(personals)\" class=\"sideMenuLinks h5\">Personals<h5><h5 onclick=\"navigation.menuSelection(forums)\" class=\"sideMenuLinks h5\">Forums<h5><h5 onclick=\"navigation.menuSelection(services)\" class=\"sideMenuLinks h5\">Services<h5><h5 onclick=\"navigation.menuSelection(community)\" class=\"sideMenuLinks h5\">Community<h5><h5 onclick=\"navigation.menuSelection(resumes)\" class=\"sideMenuLinks h5\">Resumes<h5></div></div>";

    newContent = newContent + "<div class=\"col-xs-9 col-md-10 card-group\">";
    newContent = newContent + "<h1 class=\"col-xs-12 col-md-12 title\">holiday rentals</h1>";

    newContent = newContent + "</div>";
    $('.newContent').html(newContent);
    $('.newContent').show();
  }
};

document.getElementById("searchBarButton").onclick = function() {
  navigation.searchBarUsed();
};
document.getElementById("searchBarTextInput").addEventListener( "keydown", function( e ) {
    var keyCode = e.keyCode || e.which;
    if ( keyCode === 13 ) {
       // enter pressed
      navigation.searchBarUsed();
    }
}, false);



  // insert the dropdown banner thingy now
  console.log("inserting banner");
  var banner_code = $('#banner-code).html();
  banner_code.insertBefore("#main-outlet");
</script>

<style>
#searchBarID {
  display: none;
}
#wrapperWithoutFooter {
  min-height:100%;
  position:relative;
  min-width: 100%;
}

select {
  height: 34px;
  margin-right: 20px;
}

.jumbotron {
   background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5); 
}


.jumbotron .container {
  height: 40%;
  width: 30%;


    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
}


.searchBarPaddingDiv {
  padding-left: 0;
}

.searchBarAndDropdownRow {
  padding-top: 100px;
}

.title {
    text-align: left;
    margin-bottom: 10px;
}

.bigTitle {
  color: white;
  padding-bottom: 20px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.dropdownOption {
  margin-top: 20px;
  float: both;
  position: relative;
: -50%;
  text-align: center;

}


.btn-success {
  margin-top: 30px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
 height: 60px;
}


@media (min-width: 768px) {
  .container .jumbotron, .container-fluid .jumbotron {
   padding-right: 0px; 
    padding-left: 0px;
    width: 60%; 
}
</style>




<%- if include_crawler_content? %>

<%= server_plugin_outlet "topic_list_header" %>

<%- if SiteSetting.tagging_enabled && @tag_id %>
  <h1>
    <%= link_to "#{Discourse.base_url}/tags/#{@tag_id}", itemprop: 'item' do %>
      <span itemprop='name'><%= @tag_id %></span>
    <% end %>
  </h1>
<% end %>

<% if @category %>
  <h1>
    <% if @category.parent_category %>
    <%= link_to @category.parent_category.url, itemprop: 'item' do %>
      <span itemprop='name'><%= @category.parent_category.name %></span>
    <% end %>
    &nbsp;
    <% end %>
    <%= link_to @category.url, itemprop: 'item' do %>
      <span itemprop='name'><%= @category.name %></span>
    <% end %>
  </h1>
  <br/>
<% end %>

<div class='topic-list' itemscope itemtype='http://schema.org/ItemList'>
  <meta itemprop='itemListOrder' content='http://schema.org/ItemListOrderDescending'>
  <% @list.topics.each_with_index do |t,i| %>
    <div itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
      <meta itemprop='url' content='<%= t.url %>'>
      <a href='<%= t.relative_url %>' itemprop='item'>
        <span itemprop='name'><%= t.title %></span>
      </a>
      <%= page_links(t) %>
      <% if (!@category || @category.has_children?) && t.category %>
        <span class='category'>[<a href='<%= t.category.url %>'><%= t.category.name %></a>]</span>
      <% end %>
      <span class='posts' title='<%= t 'posts' %>'>(<a href="<%=t.last_post_url%>"><%= t.posts_count %></a>)</span>
    </div>
  <% end %>
</div>

<% if @list.topics.length > 0 && @list.more_topics_url %>
  <div role='navigation' itemscope itemtype='http://schema.org/SiteNavigationElement'>
    <% if params[:page].to_i > 0 %>
      <span itemprop='url'><a href='<%= @list.prev_topics_url %>' rel='prev' itemprop='name'><%= t 'prev_page' %></a> &nbsp;</span>
    <% end %>
    <span itemprop='url'><b><a href='<%= @list.more_topics_url %>' rel='next' itemprop='name'><%= t 'next_page' %></a></b></span>
  </div>
<% end %>

<%- end %>

<% if @rss %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, "#{Discourse.base_url}/posts.rss", title: I18n.t("rss_description.posts")) %>
    <%= auto_discovery_link_tag(:rss, { action: "#{@rss}_feed" }, title: I18n.t("rss_description.#{@rss}")) %>
  <% end %>
<% end %>

<% if @category %>
  <% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, { action: :category_feed }, title: t('rss_topics_in_category', category: @category.name)) %>
    <%= raw crawlable_meta_data(title: @category.name, description: @category.description) %>
  <% end %>
<% end %>

<% if @title %>
  <% content_for :title do %><%= @title %><% end %>
<% elsif @category %>
  <% content_for :title do %><%= @category.name %><% end %>
<% elsif params[:page] %>
  <% content_for :title do %><%=t 'page_num', num: params[:page].to_i + 1 %><% end %>
<% end %>

<h1>Test</h1>
